body {
  font-family: 'Permanent Marker', cursive;
  background-image: url(../img/dealer2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }

  #dealer {
    display:flex;
    padding-top: 0%;
    padding-left: 30%;
    position: absolute;
    height: 95%;
    width: auto;
    
  }

  #tabulka{
    color: white;
    position: absolute;
    
  }

  #potion {
    width: auto;
    color:white;
    margin-top: 9%;
    padding-left: 48%;
    height:100px;
    
    
  }

  #armor {
    
    color:white;
    width: auto;
    padding-left: 48%;
    height: 100px;
    
  }

  #weapon {
    color:white;
    width: auto;
    padding-left: 48%;
    height: 100px;
    
  }

  #exit {
    float:right;
    height: 300px;
  }

  #stats {
    color:white;
  }
  
  