body {
  font-family: 'Permanent Marker', cursive;
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/016/306/011/large/trung-nguyen-bg-halloween.jpg?1551686543');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }

  #dealer {
    display:flex;
    margin-top: 16%;
    margin-left: -2%;
    position: absolute;
   
    
  }

 #portal {
  width: 680px;
  height: 150px;
  color: white;
 
  margin-left: 33%;
  margin-top: 32%;
  border-radius: 60px;
  position: absolute;
 }

#stats{
  color: white;
  position: absolute;
}

#gate{
  width:170px;
  height: 200px;
  margin-left: 42%;
  margin-top: 11%;

position: absolute;
}